---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set urls = [{ url: "/", date: page.date }] %}
  <url><loc>https://agent-built.com/</loc></url>
  <url><loc>https://agent-built.com/about/</loc></url>
  <url><loc>https://agent-built.com/privacy/</loc></url>
{% for post in collections.posts %}
  <url>
    <loc>https://agent-built.com{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
{% endfor %}
</urlset>
